@mainColor: blue;
@rightPanelWidth: 300px;
@topPanelHeight: 80px;
@rightTopHeight: 100px;
@rightBottomHeight: 100px;
@orderedPizzaHeight:120px;
@import "pizza/pizza-card";

.main-pizza{
  margin-top: @topPanelHeight+10px;
  margin-right: @rightPanelWidth;
}
.inner-container{
  max-width: 1000px;
  margin: auto;
  //padding: @topPanelHeight+20px 10px 10px 10px;
}
.right-panel{
  height: 100%;
  width: @rightPanelWidth;
  position: fixed;
  top:0;
  right: 0;
  z-index: 8;
  background: #F5F5F5;
}
.top-panel{
  padding-right: @rightPanelWidth;
  width: 100%;
  height: @topPanelHeight;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
//окремий файл для лівої і правої колонки;
.main-part{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-top: @topPanelHeight;
  padding-bottom: @topPanelHeight;
  box-sizing: border-box ;
}
.top-part{
  position: absolute;
  width:100%;
  height: @topPanelHeight;
  top:0;
  right:0;
  z-index: 4;
  background: white;
}

.bottom-part{
  position: absolute;
  width:100%;
  height: @topPanelHeight;
  bottom:0;
  right:0;
  background:white;
}
.ordered-pizza{
  padding: 10px;
  position: relative;
  height: @orderedPizzaHeight;
  width: 100%;
  border-bottom: 1px solid #95989d;
}
.pizza-img{
  padding: 10px;
  position: absolute;
  right: -20%;
  max-height: 120px;
  max-width: 120px;
  top: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 15px;
}
.order-details{
  align-items: center;
}

.logIn{
  float: right;
  margin-top: -7px;
}
.delivery{
  color:rgba(149,152,157,0.7);
  margin: 5px 10px 5px 10px;
}
.orange-label-kma{
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  position: fixed;
  height: @topPanelHeight;
  width: @topPanelHeight+20px;
  background-color: #ea862e;
  margin: 0 10px 0 11px;
}

.top-text, .bottom-text{
  margin: 10px 20px 0 130px;
  padding-bottom: 10px;

}
.top-text{
  border-bottom: 1px solid rgba(149, 152, 157, 0.7);
}
.bottom-text{
  color: white;
}
.discount{
  position: absolute;
  left: 10px;
  top:@topPanelHeight;
  transform: scaleY(-1);
}
.orange-label-discount{
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 10px;
  padding: 10px;
  width: @topPanelHeight+20px;
  background-color: #ea862e;
}
.discount-20{
  z-index:2;
  position: absolute;
  left: 0;
  bottom: 110px;
}
.discount-title{
  color: white;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px dashed #d67b0b;
}
.discount-20-title{
  font-size: larger;
  padding-top: 5px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.bottom-part{
  padding: 20px 60px 20px 60px;
}
.btn-order{
  padding:10px 50px 10px 50px;
  font-size: 18px;
  font-weight: 500;
}
