<% include common/header.ejs %>
<div class="orange-label-discount">
    <img class="discount-20" src="assets/images/discount.svg">
    <div class="discount-title">
        ЦЬОГО<br>ТИЖНЯ</br>НА ВСЕ
    </div>
    <div class="discount-20-title">
        -20%
    </div>

</div>
<div class="main-pizza">
    <div class="filter-name">
        <h3 class="all_pizza">Усі піци <span class="amount badge">0</span></h3>
    </div>
    <div class="filters">
        <ul class="nav nav-pills all-pizza-filters">
            <li role="presentation" class="active pizza_type" id="filter-all"><a href="#">Усі</a></li>
            <li role="presentation" class="pizza_type"  id="filter-meat"><a href="#" >Мясні</a></li>
            <li role="presentation" class="pizza_type" id="filter-pineapples"><a href="#">З ананасами</a></li>
            <li role="presentation" class="pizza_type" id="filter-mushrooms"><a href="#">З грибами</a></li>
            <li role="presentation" class="pizza-filter-button" id="filter-seafood"><a href="#">З морепродуктами</a></li>
            <li role="presentation" class="pizza-filter-button" id="filter-vega"><a href="#">Вега</a></li>
        </ul>
    </div>
    <div class="inner-container">
        <div class="row" id="pizza_list">

        </div>
    </div>
    <div class="top-panel">
        <div class="orange-label-kma">
            Pizza
            <br>KMA</br>
        </div>
        <img class="discount" src="assets/images/discount.svg">
        <div class="top-text"><span class="visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block delivery number">(044) 222 5 222</span>
            <span class="visible-lg-inline-block visible-md-inline-block delivery time">24 години/ 7 днів на тиждень</span>
            <span class="visible-lg-inline-block delivery text">Безкоштовна доставка піци</span>
            <button type="button" class="btn btn-warning logIn">Ввійти</button>
        </div>
        <div class="bottom-text">
            <span class="pizza-title">Піца</span>
            <!--<div id = "sum-price"></div>-->

        </div>
    </div>
    <div class="right-panel">
        <div class="top-part">
        <span class="order_count_title">Замовлення
            <span class="badge order-count">0</span>
        </span>
            <span class="clear-cart">Очистити кошик</span>
        </div>
        <div class="main-part">
            <div id="cart"></div>
        </div>
        <div class="bottom-part">

        <span class="sum-title">Сума замовлення
        <span class = "sum-price-count">0</span>
            <span class="grn">грн</span>
        </span>
            <div class="toOrder">
                <button type="button" class="btn btn-warning btn-lg btn-order" onclick="location.href='/order.html'">Замовити</button>
            </div>
        </div>
    </div>
</div>
<div class = "btn btn-lg btn-primary create-order">Create order</div>
<% include common/footer.ejs %>