<% include common/header.ejs %>
<div class="orange-label-discount">
    <img class="discount-20" src="assets/images/discount.svg">
    <div class="discount-title">
        ЦЬОГО<br>ТИЖНЯ</br>НА ВСЕ
    </div>
    <div class="discount-20-title">
        -20%
    </div>

</div>
<div class="main-order">
    <div class="container-fluid">
        <div class = "form-order">
            <h1>1.Контактні дані</h1>
            <div class = "contacts col-md-7">
                <div class="form-group">
                    <label for="name-input">Ім'я</label>
                    <input type="text" class="form-control" id="name-input">
                </div>
                <div class="form-group">
                    <label for="phone-input">Телефон</label>
                    <input type="tel" class="form-control" id="phone-input">
                </div>
                <div class="form-group">
                    <label for="address-input" class = "col-sm-2">Адреса</label>

                    <input type="text" class="form-control col-sm-10" id="address-input">
                </div>
            </div>
        </div>
        <div class = "order-info col-md-5">
            <div class="bs-callout bs-callout-warning order-info">
                <h4>Інформація про замовлення </h4>
                <p class="order-info-time">
                    <b>Приблизний час доставки: </b>
                    невідомий
                </p>
                <p class="order-info-adress">
                    <b>Адреса доставки:</b>
                    невідомий
                </p>
            </div>
        </div>


    </div>
    <div class="top-panel">
        <div class="orange-label-kma">
            Pizza
            <br>KMA</br>
        </div>
        <img class="discount" src="assets/images/discount.svg">
        <div class="top-text"><span class="visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block delivery number">(044) 222 5 222</span>
            <span class="visible-lg-inline-block visible-md-inline-block delivery time">24 години/ 7 днів на тиждень</span>
            <span class="visible-lg-inline-block delivery text">Безкоштовна доставка піци</span>
            <button type="button" class="btn btn-warning logIn">Ввійти</button>
        </div>
        <div class="bottom-text">
            <span class="pizza-title">Піца</span>
        </div>
    </div>
    <div class="right-panel">
        <div class="top-part">
        <span class="order_count_title">Замовлення
            <span class="badge order-count">0</span>
        </span>
            <span class="clear-cart">Очистити кошик</span>
        </div>
        <div class="main-part">
            <div id="cart"></div>
        </div>
        <div class="bottom-part">
            <button type="button" class="btn btn-warning btn-order">Замовити</button>
        </div>
    </div>
</div>
<% include common/footer.ejs %>