<div class="ordered-pizza">
    <h3 class="title"><%= pizza.title %>
        <% if (size == "big_size") {%>
        (Велика)
        <%} else {%>
        (Мала)
        <% } %>
    </h3>
    <div class="order-details">
        <span class="size-img"><img src="assets/images/size-icon.svg"><span class="d">30</span></span>
        <span class="weight-img"><img src="assets/images/weight.svg"><span class="gr"> 460</span></span>
    </div>
    <div class="order-price">
        <span class="price"><%= pizza[size].price * quantity %> грн</span>

        <button type="button" class="btn btn-success btn-circle btn-number plus"  data-type="plus">
            <span class="glyphicon glyphicon-plus plus"></span>
        </button>
        <span class="quantity"><%=quantity %></span>
        <button type="button" class="btn btn-danger btn-circle btn-number minus"  data-type="minus">
            <span class="glyphicon glyphicon-minus minus"></span>
        </button>
        <span class="sht">шт.</span>
        <button type="button" class="btn btn-default btn-circle btn-number remove"  data-type="remove">
            <span class="glyphicon glyphicon-remove remove"></span>
        </button>
        <img class="pizza-img" src="<%= pizza.icon %>">
    </div>
</div>